/* .header{
    height: 15vh;
    width: 100vw;
    background-color: black;
    padding: 0px;
    margin: 0px;
} */

.header{
    height: 12vh;
    width: 100vw;
    background-color: black;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
/* amazon logo */
.IMDB-logo{
    height: 8vh;
    width: 8vw;
    padding:10px;
    margin: 4px 0px 0px 0px;
    object-fit: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}
/* search bar */
.search-bar {
    /* flex-grow: 1; */
    max-width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d1b1b;
    border-radius: 30px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input {
    width: 50vw;
    height: 60%;
    border: none;
    outline: none;
    font-size: 16px;
    background-color : white;
    margin-top: 1%;
    border-radius: 30px;

}

.search-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    height: 40%;
    width: 40%;
}